<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<title>AB7wpcampus</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="keywords">
	<meta content="" name="description">

	<!-- Favicons --> 
	<link href="img/favicon.png" rel="icon">
	<link href="img/apple-touch-icon.png" rel="apple-touch-icon">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

	<!-- Bootstrap CSS File -->
	<!--  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

	<!-- Libraries CSS Files -->
	<link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="lib/animate/animate.min.css" rel="stylesheet">
	<link href="lib/venobox/venobox.css" rel="stylesheet">
	<link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

	<!-- Main Stylesheet File -->
	<link href="css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: TheEvent
    Theme URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>

<body>

  <!--==========================
    Header
    ============================-->
    <header id="header">
    	<div class="container">

    		<div id="logo" class="pull-left">
    			<!-- Uncomment below if you prefer to use a text logo -->
    			<!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
    			<a href="/" class="scrollto"><img src="img/logo.png" alt="" title="" width="200" ></a>
    		</div>

    		<nav id="nav-menu-container">
    			<ul class="nav-menu">
    				<li class="menu-active"><a href="/#intro">Inicio</a></li>
    				<li><a href="/#about">Campus</a></li>
    				<li><a href="/#staff">Staff</a></li>
    				<li><a href="/#schedule">Planificación</a></li>


    				<li><a href="/#gallery">Galería</a></li>
    				<li><a href="/#supporters">Patrocinadores</a></li>
    				<li><a href="/#colaboradores">Colaboradores</a></li>
    				<li><a href="/#contact">Contacto</a></li>
    				<li class="buy-tickets"><a href="/#buy-tickets">Inscripción</a></li>
    			</ul>
    		</nav><!-- #nav-menu-container -->
    	</div>
    </header><!-- #header -->

  <!--==========================
    Intro Section
    ============================-->
    <section id="intro">
    	<div class="intro-container wow fadeIn">
    		<h1 class="mb-4 pb-0">Waterpolo Campus<br><span>AB7</span></h1>
    		<p class="mb-4 pb-0">Julio 2023, Tenerife.</p>
        
    		<a href="https://www.youtube.com/watch?v=fGkspBVNQ6M" class="venobox play-btn mb-4" data-vbtype="video"
    		data-autoplay="true"></a>
    		<a href="#about" class="about-btn scrollto">El Campus</a>
    	</div>
    </section>

    <main id="main">

    <!--==========================
      About Section
      ============================-->
      <section id="campus">
      	<section id="about">
      		<div class="container">
      			<div class="row">
      				<div class="col-lg-6">
      					<h2>El Campus AB7</h2>
      					<p>Campus organizado y dirigido por el waterpolista internacional Alberto Barroso que cuenta con la colaboración de deportistas internacionales y entrenadores de gran prestigio.</p>
      				</div>
      				<div class="col-lg-3">
      					<h3>¿Dónde?</h3>
      					<p>Piscina Complejo deportivo de Tenerife Santa Cruz-Ofra, 
      						<br> Santa Cruz de Tenerife</p>
      					</div>
      					<div class="col-lg-3">
      						<h3>¿Cuándo?</h3>
      						<p>14, 15, 16, 17 de abril de 2022</p>
      					</div>
      				</div>
      			</div>
      		</section>
      	</section>

    <!--==========================
      Speakers Section
      ============================-->
      <section id="staff">
      	<section id="speakers" class="wow fadeInUp">
      		<div class="container">
      			<div class="section-header">
      				<h2>Staff</h2>

      			</div>

      			<div class="row">
      				<div class="col-lg-4 col-md-6">
      					<div class="speaker" id="alberto_barroso">
      						<img src="img/speakers/1.jpg" alt="Speaker 1" class="img-fluid">
      						<div class="details">
      							<h3>Alberto Barroso</h3>
      							<p>Coordinador</p>
      							<div class="social">
      								<a href="https://twitter.com/albertobarroso7"><i class="fa fa-twitter"></i></a>
      								<a href="https://www.instagram.com/albertobarroso7/"><i class="fa fa-instagram"></i></a>

      							</div>
      						</div>
      					</div>
      				</div>
      				<div class="col-lg-4 col-md-6">
      					<div class="speaker" id="patri_herrera">
      						<img src="img/speakers/2.jpg" alt="Speaker 2" class="img-fluid">
      						<div class="details">
      							<h3>Patri Herrera</h3>
                    

      							<p>Entrenadora porteros</p>
      							<div class="social">
      								<a href="https://twitter.com/patriherrera1"><i class="fa fa-twitter"></i></a>
      								<a href="https://www.instagram.com/patriherrera1"><i class="fa fa-instagram"></i></a>
      							</div>
      						</div>
      					</div>
      				</div>
      				<div class="col-lg-4 col-md-6">
      					<div class="speaker" id="fernando_carpena">
      						<img src="img/speakers/3.jpg" alt="Speaker 3" class="img-fluid">
      						<div class="details">
      							<h3>Fernando Carpena</h3>
      							<p>Preparador físico</p>
      							<div class="social">
      								<a href="https://twitter.com/carpenafer89"><i class="fa fa-twitter"></i></a>
      								<a href="https://www.instagram.com/fcarpena89/"><i class="fa fa-instagram"></i></a>
      							</div>
      						</div>
      					</div>
      				</div>
      				<div class="col-lg-4 col-md-6">
      					<div class="speaker" id="bea_ortiz">
      						<img src="img/speakers/invitada.jpg" alt="Speaker 4" class="img-fluid">
      						<div class="details">
      							<h3>???</h3>
      							<p>Deportista invitada</p>
      							<div class="social">
      								<a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
      								<a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
      							</div>
      						</div>
      					</div>
      				</div>
      				<div class="col-lg-4 col-md-6">
      					<div class="speaker">
      						<img src="img/speakers/invitado.jpg" alt="Speaker 5" class="img-fluid">
      						<div class="details">
      							<h3>???</h3>
      							<p>Deportista invitado</p>
      							<div class="social">
      								<a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
      								<a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
      							</div>
      						</div>
      					</div>
      				</div>
      				<div class="col-lg-4 col-md-6">
      					<div class="speaker">
      						<img src="img/speakers/invitado.jpg" alt="Speaker 6" class="img-fluid">
      						<div class="details">
      							<h3>???</h3>
      							<p>Deportista invitado</p>
      							<div class="social">
      								<a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
      								<a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
      								<!-- <a href="https://www.facebook.com/people/Arsenio-Waterpolo/100009444559403/"><i class="fa fa-facebook"></i></a> -->
      							</div>
      						</div>
      					</div>
      				</div>
      			</div>
      		</div>

      	</section>
      </section>

    <!--==========================
      Schedule Section
      ============================-->
      <section id="schedule" class="section-with-bg">
      	<div class="container wow fadeInUp">
      		<div class="section-header">
      			<h2>Planificación</h2>
      		</div>

      		<ul class="nav nav-tabs" role="tablist">
      			<li class="nav-item">
      				<a class="nav-link active" href="#day-1" role="tab" data-toggle="tab" style="padding:8px 50px; margin-bottom:20px">Jueves 14</a>
      			</li>
      			<li class="nav-item">
      				<a class="nav-link" href="#day-2" role="tab" data-toggle="tab" style="padding:8px 50px; margin-bottom:20px">Viernes 15</a>
      			</li>
            
            
      			<li class="nav-item">
      				<a class="nav-link" href="#day-3" role="tab" data-toggle="tab" style="padding:8px 50px; margin-bottom:20px">Sábado 16</a>
      			</li>
            <li class="nav-item">
              <a class="nav-link" href="#day-4" role="tab" data-toggle="tab" style="padding:8px 50px">Domingo 17</a>
            </li>
      		</ul>


      		<div class="tab-content row justify-content-center">

      			<!-- Schdule Day 1 -->
      			<div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">

      				<div class="row schedule-item">
      					<div class="col-md-2"><time>09:30 - 12:30</time></div>
      					<div class="col-md-10">
      						<h4>Entrenamiento mañana</h4>
      					
      					</div>
      				</div>

      				<div class="row schedule-item">
      					<div class="col-md-2"><time>16:00 - 18:30</time></div>
      					<div class="col-md-10">
      						
      						<h4>Entrenamiento tarde</h4>
      				
      					</div>
      				</div>

      			</div>
      			<!-- End Schdule Day 1 -->

      			<!-- Schdule Day 2 -->
      			<div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-2">

      				<div class="row schedule-item">
      					<div class="col-md-2"><time>09:30 - 12:30</time></div>
      					<div class="col-md-10">
      						
      						<h4>Entrenamiento mañana</span></h4>
      						
      					</div>
      				</div>

      				<div class="row schedule-item">
      					<div class="col-md-2"><time>16:00 - 18:30</time></div>
      					<div class="col-md-10">
      						
      						<h4>Entrenamiento tarde</h4>
      						
      					</div>
      				</div>

      			
      			</div>
      			<!-- End Schdule Day 2 -->

      			<!-- Schdule Day 3 -->
      			<div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-3">

      				<div class="row schedule-item">
      					<div class="col-md-2"><time>09:30 - 12:30</time></div>
      					<div class="col-md-10">
      						
      						<h4>Entrenamiento mañana</span></h4>
      						
      					</div>
      				</div>

      				<div class="row schedule-item">
      					<div class="col-md-2"><time>16:00 - 18:30</time></div>
      					<div class="col-md-10">
      						
      						<h4>Entrenamiento tarde</span></h4>
      						
      					</div>
      				</div>

      				

      			</div>
      			<!-- End Schdule Day 3 -->
            <!-- Schdule Day 3 -->
            <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-4">

              <div class="row schedule-item">
                <div class="col-md-2"><time>09:00 - 12:00</time></div>
                <div class="col-md-10">
                  
                  <h4>Entrenamiento mañana</span></h4>
                  
                </div>
              </div>

            <!-- End Schdule Day 3 -->

      		</div>

      	</div>

      </section>

     <!--==========================
      Gallery Section
      ============================-->
      <section id="gallery" class="wow fadeInUp">

      	<div class="container">
      		<div class="section-header" style="margin:auto">
      			<h2> Galería</h2>
			</div>
			<br>
      		<h4> <a href="https://forms.gle/FyGFtpz79AXXBa9K6"> <i class="fa fa-hand-o-right">  </i> FOTOS CAMPUS 2021</a> </h4>
      		<br>
      	</div>

      	<div class="owl-carousel gallery-carousel">
      		<a href="img/gallery/1.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/gallery/1.jpg" alt=""></a>
      		<a href="img/gallery/2.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/gallery/2.jpg" alt=""></a>
      		<a href="img/gallery/3.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/gallery/3.jpg" alt=""></a>
      		<a href="img/gallery/5.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/gallery/5.jpg" alt=""></a>
      		<a href="img/gallery/6.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/gallery/6.jpg" alt=""></a>
      		<a href="img/gallery/7.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/gallery/7.jpg" alt=""></a>
      		<a href="img/gallery/8.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/gallery/8.jpg" alt=""></a>
      		<a href="img/gallery/9.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/gallery/9.jpg" alt=""></a>
      		<a href="img/gallery/10.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/gallery/10.jpg" alt=""></a>
      		<a href="img/gallery/11.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/gallery/11.jpg" alt=""></a>
      		<a href="img/gallery/12.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/gallery/12.jpg" alt=""></a>
      		<a href="img/gallery/13.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/gallery/13.jpg" alt=""></a>
      		<a href="img/gallery/15.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/gallery/14.jpg" alt=""></a>
      		<a href="img/gallery/16.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/gallery/16.jpg" alt=""></a>
      		<a href="img/gallery/17.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/gallery/17.jpg" alt=""></a>
      		<a href="img/gallery/18.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/gallery/18.jpg" alt=""></a>
      	</div> 


      	<div class="more">
      		<div class="text-center"><a href="/more_gallery"><button type="submit">Más fotos 2019</button></a></div>
      	</div>
      </form>

  </section>

   

 
    <!--==========================
      Inscripciones Section
      https://www.youtube.com/watch?v=s9XZui6zRPw&ab_channel=PureCoding 
      Video de youtube para rellenar hojas de excel desde web
      ============================-->


      <section id="buy-tickets" class="section-with-bg wow fadeInUp">
        <div class="container">
          

          <div class="section-header" style="margin-bottom:30px">
            
            <h2>Inscripción</h2>
             



            <div class="row">
                <div class="col align-self-start">
                  
                </div>
                <div class="col align-self-center">
                  
                </div>
                <div class="col align-self-end">
                 <a class="fa fa-file-pdf-o"><a href="/docs/inscripcionSS.pdf" download> Más info </a>
                </div>
              </div>




          </div>


          <div class="row">
          <div class="col-lg-4">
            <div class="card mb-5 mb-lg-0">            
            </div>
          </div>

            <!-- Pro Tier -->
            <div class="col-lg-4">
              <div class="card mb-5 mb-lg-0">
                <div class="card-body">
                  <h5 class="card-title text-muted text-uppercase text-center">¿Qué incluye la inscripición?</h5>
                  <h6 class="card-price text-center"></h6>
                  <hr>
                  <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fa fa-check"></i></span> Welcome Pack personalizado</li>
                    <li><span class="fa-li"><i class="fa fa-check"></i></span>Masterclass</li>
                    <li><span class="fa-li"><i class="fa fa-check"></i></span>Talleres de técnica y táctica</li>
                    <li><span class="fa-li"><i class="fa fa-check"></i></span>Actividades al aire libre</li>
                    <li><span class="fa-li"><i class="fa fa-check"></i></span>Seguro accidente Mapfre</li>
                    <li><span class="fa-li"><i class="fa fa-check"></i></span>Descuentos en alojamiento</li>
                    <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Comida</li>
                  </ul>
                  <hr>
                  <div class="text-center">
                    <button type="button" class="btn" data-toggle="modal" data-target="#buy-ticket-modal" data-ticket-type="pro-access">Inscríbete</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- Modal Order Form -->
        <div id="buy-ticket-modal" class="modal fade">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header" style = "padding-bottom: 0px; height: 70px">
                <h4 class="modal-title">Inscripción</h4>
                <br>
                <p class="modal-title" style="text-align: end;margin: 0 0 30px 5px;font-size:smaller">Datos jugador/a salvo correo y teléfono en caso de menor de edad que serán del contacto.</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                
              </div>
              <div class="modal-body" style="padding-bottom: 0px">
                <p class="modal-title" style="font-size:smaller">  <i> *Una vez realizada la inscripción nos pondremos en contacto con ustedes para la realización del pago. </i></p> 
              </div>

              <div class="modal-body">



                <form name="google-sheet">
                  
                  <h4 class="modal-title"> Datos del jugador </h2>              
                    <div class="form-group mb-3">

                      
                      <div class="row">
                        <div class="column" style="text-align: left;margin-left: 10px;"> 
                            <label for="name" class="form-label">Nombre</label>
                            <input type="text" id="name" name="Nombre" class="form-control" placeholder="Nombre del deportista" required> 
                        </div>
                        <div class="column" style="text-align: left;margin-left: 10px;"> 
                          <label for="lastname" class="form-label">Apellidos</label>
                          <input type="text" id="name" name="Apellidos" class="form-control" placeholder="Apellidos del deportista" required> 
                        </div>
                      </div>


                      <div class="form-group mb-3">
                        <div class="row">
                          <div class="column" style="text-align: left;margin-left: 10px;">
                            <label for="team" class="form-label">Equipo de waterpolo</label>
                            <input type="text" id="team" name="Club WP" class="form-control" placeholder="Equipo de waterpolo">
                          </div>
                          <div class="column" style="text-align: left;margin-left: 10px;">
                            <label for="position" class="form-label" >Posición de juego</label>
                            <input type="text" id="position" name="Posición" class="form-control" placeholder="Posición de juego">
                          </div>
                          </div>
                        </div>

                      <div class="form-group mb-3">
                        <div class="row">
                          <div class="column" style="text-align: left;margin-left: 10px;">
                            <label for="age" class="form-label">Edad</label>
                            <input type="number" id="age" name="Edad" class="form-control" placeholder="Edad del deportista" required>
                          </div>

                          <div class="column" style="text-align: left;margin-left: 10px;">
                            <label for="age" class="form-label" ></label>
                            
                          </div>
                        </div>
                      </div>


                      <div class="form-group mb-3">
                        <div class="row">
                          <div class="column" style="text-align: left;margin-left: 10px;">
                            <label for="age" class="form-label">Talla bañador</label>
                            <select class="custom-select mr-sm-2" id="tallabañador" name="Talla Bañador" required="">
                             
                              <option value="XS">XS</option>
                              <option value="S">S</option>
                              <option value="M">M</option>
                              <option value="L">L</option>
                              <option value="XL">XL</option>
                              <option value="XXL">XXL</option>
                            </select>
                          </div>

                          <div class="column" style="text-align: left;margin-left: 10px;">
                            <label for="age" class="form-label" >Talla camiseta</label>
                            <select class="custom-select mr-sm-2" id="tallacamiseta" name="Talla Camiseta" required="">
                             
                              <option value="XS">XS</option>
                              <option value="S">S</option>
                              <option value="M">M</option>
                              <option value="L">L</option>
                              <option value="XL">XL</option>
                              <option value="XXL">XXL</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <h4 class="modal-title"> Datos del contacto </h2>
                      <div class="form-group mb-3">
                        <label for="email" class="form-label">Correo electrónico</label>
                        <input type="email" id="email" name="Email"  class="form-control" placeholder="Email del padre/madre o tutor/a" required>
                      </div>
                      <div class="form-group mb-3">
                        <label for="phone" class="form-label">Teléfono</label>
                        <input type="text" id="phone" name="Teléfono" class="form-control" placeholder="Teléfono del padre/madre o tutor/a" required>
                      </div>


                      <h4 class="modal-title"> Alojamiento </h2>
                      <div class="form-group mb-3">
                        <label for="age" class="form-label" >¿Quieres más información sobre el alojamiento?</label>
                            <select class="custom-select mr-sm-2" id="alojamiento" name="Info Alojamiento" required="">
                              
                              <option value="No">No</option>
                              <option value="Sí: Hotel Silken Atlántida Santa Cruz">Sí: Hotel Silken Atlántida Santa Cruz</option>
                              <option value="Sí: Hotel escuela Santa Cruz de Tenerife">Sí: Hotel escuela Santa Cruz de Tenerife</option>
                              <option value="Sí: Aún no he decidido">Sí: Aún no he decidido</option>
                              

                            </select>
                      </div>
                      
                  
                  <div class="text-center">
                    <div id = "form-alerts"></div>
                    <button class="btn btn-primary" type="submit">Inscribir</button>
                  </div>

                </form>
                  
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->

        </section>



<!--==========================
      Inscripciones Section
      https://www.youtube.com/watch?v=s9XZui6zRPw&ab_channel=PureCoding 
      Video de youtube para rellenar hojas de excel desde web
      ============================-->


      <section id="buy-tickets" class="section-with-bg wow fadeInUp">
        <div class="container">
          

          <div class="section-header" style="margin-bottom:30px">
            <h2>Alojamiento</h2>
            <h6 class="card-title text-muted text-center"> Todos los precios son con descuento especial por participar en el CAMPUS AB7. Para reservar, contactar  directamente con los hoteles, indicándolo para beneficiarse del descuento. </h3>
          </div>

          <div class="row">

<!--
            <!-- Pro Tier -->
            <div class="col-lg-6">
              <div class="card mb-4 mb-lg-0">
                <div class="card-body">
                  <h5 class="card-title text-uppercase text-center">Hotel Silken Atlántida Santa Cruz</h5>
                  <h6 class="card-price text-center">40€/persona</h6>
                  <hr>
                  <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fa fa-check"></i></span>Alojamiento</li>
                    <li><span class="fa-li"><i class="fa fa-check"></i></span>Desayuno</li>

                    <li><span class="fa-li"><i class="fa fa-car"></i></span>5 min en coche</li>
                    <li><span class="fa-li"><i class="fa fa-bus"></i></span>18 min en gua gua (autobús)</li>
                    <li><span class="fa-li"><i class="fa fa-phone"></i></span>922 294 500</li>
                  </ul>
                  <hr>
                  
              </div>
            </div>
          </div>


            <!-- Pro Tier -->
            <div class="col-lg-6">
              <div class="card mb-4 mb-lg-0">
                <div class="card-body">
                  <h5 class="card-title text-uppercase text-center">Hotel escuela Santa Cruz de Tenerife</h5>
                  <h6 class="card-price text-center">38€/persona</h6>
                  <hr>
                  <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fa fa-check"></i></span>Alojamiento</li>
                    <li><span class="fa-li"><i class="fa fa-check"></i></span>Desayuno</li>

                    <li><span class="fa-li"><i class="fa fa-car"></i></span>7 min en coche</li>
                    <li><span class="fa-li"><i class="fa fa-bus"></i></span>22   min en gua gua (autobús)</li>
                    <li><span class="fa-li"><i class="fa fa-phone"></i></span>922 847 500</li>
                  </ul>
                  <hr>
                  
              </div>
            </div>
          </div>
-->

        </div>

       </section>

<!--==========================
  Pack Section
  ============================-->
  <section id="supporters" class="section-with-bg wow fadeInUp">

  	<div class="container">
  		<div class="section-header">
  			<h2>Pack bienvenida</h2>
  		</div>

  		<div class="row no-gutters supporters-wrap clearfix">

  			<div class="row">

  			<div class="col-lg-3 .col-6 .col-md-4">
  				<div class="supporter-logo">
  					<img src="img/pack/boyswimsuit.jpeg" class="img-fluid" alt="">
  				</div>
  			</div>

  			<div class="col-lg-3 .col-6 .col-md-4">
  				<div class="supporter-logo">
  					<img src="img/pack/girlswimsuit.jpeg" class="img-fluid" alt="">
  				</div>
  			</div>

  			<div class="col-lg-3 .col-6 .col-md-4">
  				<div class="supporter-logo">
  					<img src="img/pack/bag.jpeg" class="img-fluid" alt="">
  				</div>
  			</div>
  			
  			<div class="col-lg-3 .col-6 .col-md-4">
  				<div class="supporter-logo">
  					<img src="img/pack/cap.jpeg" class="img-fluid" alt="">
  				</div>
  			</div>
  			
  			
  			</div>




  		</div>

  	</div>

  </section>









<!--==========================
  Sponsors Section
  ============================-->
  <section id="supporters" class="section-with-bg wow fadeInUp">

  	<div class="container">
  		<div class="section-header">
  			<h2>Patrocinadores</h2>
  		</div>

  		<div class="row no-gutters supporters-wrap clearfix">

  			<div class="row">

  			<div class="col-lg-3 .col-6 .col-md-4">
  				<div class="supporter-logo">
  					<a href="https://www.iberiaexpress.com/"> <img src="img/supporters/1.png" class="img-fluid" alt=""> </a>
  				</div>
  			</div>

  			<div class="col-lg-3 .col-6 .col-md-4">
  				<div class="supporter-logo">
  					<a href="https://www.gruponagar.es/"><img src="img/supporters/2.png" class="img-fluid" alt=""></a>
  				</div>
  			</div>

  			<div class="col-lg-3 .col-6 .col-md-4">
  				<div class="supporter-logo">
  					<a href="https://www.mapfre.es/"><img src="img/supporters/3.png" class="img-fluid" alt=""></a>
  				</div>
  			</div>

  			
  			
  			<div class="col-lg-3 .col-6 .col-md-4">
  				<div class="supporter-logo">
  					<a href="https://www.wazpool.com/"><img src="img/supporters/4.png" class="img-fluid" alt=""></a>
  				</div>
  			</div>
  			
  			
  			</div>




  		</div>

  	</div>

  </section>


  <!--==========================
  Colaboradores Section
  ============================-->
  <section id="colaboradores" class="section-with-bg wow fadeInUp">

  	<div class="container">
  		<div class="section-header">
  			<h2>Colaboradores</h2>
  		</div>

      <div class="row no-gutters supporters-wrap clearfix">

        <div class="row">

        <div class="col-lg-4 .col-3 .col-md-3">
          <div class="supporter-logo">
            <a href="https://www.cnlaspalmas.es/"><img src="img/supporters/5.png" class="img-fluid" alt=""></a>
          </div>
        </div>

        <div class="col-lg-4 .col-3 .col-md-3">
          <div class="supporter-logo">
            <a><img src="img/supporters/7.png" class="img-fluid" alt=""></a>
          </div>
        </div>

        <div class="col-lg-4 .col-3 .col-md-3">
          <div class="supporter-logo">
            <a href="https://www.idecogestion.net/"><img src="img/supporters/6.png" class="img-fluid" alt=""></a>
          </div>
        </div>

        
        
        </div>




      </div>


  	</div>

  </section>

    <!--==========================
      Contact Section
      ============================-->
      <section id="contact" class="section-bg wow fadeInUp">

      	<div class="container">

      		<div class="section-header">
      			<h2>Contacta con nosotros</h2>

      		</div>


      		<div class="row contact-info">

      			<div class="col-md-4">
      				<div class="contact-address">
      					<i class="ion-ios-location-outline"></i>
      					<h3>Dirección</h3>
      					<address>Calle Isla de la Graciosa 9, 38400, Puerto de la Cruz, Santa Cruz de Tenerife, España</address>
      				</div>
      			</div>

      			<div class="col-md-4">
      				<div class="contact-phone">
      					<i class="ion-ios-telephone-outline"></i>
      					<!--<h3>Número de teléfono</h3>
      					<p><a href="tel:+34657308808">+34 657308808</a></p>-->
      				</div>
      			</div>

      			<div class="col-md-4">
      				<div class="contact-email">
      					<i class="ion-ios-email-outline"></i>
      					<h3>Email</h3>
      					<p><a href="mailto:ab7camp@gmail.com">ab7camp@gmail.com</a></p>
      				</div>
      			</div>

      		</div>


      		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      		<script src="https://smtpjs.com/v3/smtp.js"></script>


        <!--Check the data in the contact 
            form has the correct values and
            send the okay message or not okay -->

            <script src="contactform/contactF.js"></script> 
            <script>

            var checkbox_form = document.getElementById("Checkform");
            if(!checkbox_form){

            }else{
            	$('form.contactForm').on('submit', (e) => {
            		e.preventDefault();
            	});;
            }
            
            </script>

        </div>
    </section><!-- #contact -->
</main>






  <!--==========================
    Footer
    ============================-->
    <footer id="footer">
    	<div class="footer-top">
    		<div class="container">
    			<div class="row">

    				<div class="col-lg-3 col-md-6 footer-info">
    					<img src="img/logo.png" alt="AB7">
    					<p>Desde 2019, AB7 Waterpolo Campus tiene como objetivo fomentar el waterpolo.</p>
    				</div>

    				<div class="col-lg-3 col-md-6 footer-links">
    					<h4>Enlaces de interés</h4>
    					<ul>
    						<li><i class="fa fa-angle-right"></i> <a href="#">Inicio</a></li>
    						<li><i class="fa fa-angle-right"></i> <a href="#about">Campus</a></li>
    						<li><i class="fa fa-angle-right"></i> <a href="/legal">Avisos legales</a></li>
    					</ul>
    				</div>



    				<div class="col-lg-3 col-md-6 footer-contact">
    					<h4>Contacto</h4>
    					<p>
    						Calle Isla de la Graciosa 9,<br>
    						38400, Puerto de la Cruz, <br> Santa Cruz de Tenerife,
    						España <br>
    						
    						<strong>Email:</strong> ab7camp@gmail.com<br>
    					</p>

    					<div class="social-links">

    						<a href="https://www.instagram.com/ab7wpcampus/" class="instagram"><i class="fa fa-instagram"></i></a>

    					</div>

    				</div>

    			</div>
    		</div>
    	</div>

    	<div class="container">
    		<div class="copyright">
    			&copy; Copyright <strong>TheEvent</strong>. All Rights Reserved
    		</div>
    		<div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
      -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> and edited by <a href="https://www.instagram.com/racedron21">@racedron21 </a>  &#38 <a href="https://www.instagram.com/patriherrera1/"> @patriherrera1 </a>
  </div>
</div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

<!-- JavaScript Libraries -->
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/jquery/jquery-migrate.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/superfish/hoverIntent.js"></script>
<script src="lib/superfish/superfish.min.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/venobox/venobox.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Contact Form JavaScript File -->
<script src="contactform/inscription.js"></script>
<!-- <script src="contactform/contactform.js"></script> -->

<!-- Template Main Javascript File -->
<script src="js/main.js"></script>

<!-- Inscription Form JavaScript -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  const scriptURL = 'https://script.google.com/macros/s/AKfycbw4CYkbsOf1YSbFAgGBnGirfsGQorMbjJX9Fi_DtIQc191Irgl_E-2GoKRxmnr51SX0/exec'
  const form = document.forms['google-sheet']

  form.addEventListener('submit', e => {
    e.preventDefault()
    fetch(scriptURL, { method: 'POST', body: new FormData(form)})
      .then(response => $("#form-alerts").html("<div class='alert alert-success'>¡Inscripción completada, para la realización del pago nos pondremos en contacto con ustedes! Os esperamos</div>"))
      .then(response =>  form.reset())
      .catch(error => console.error('Error!', error.message))
  })
</script>




</body>

</html>
