<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<title>AB7wpcampus</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="keywords">
	<meta content="" name="description">

	<!-- Favicons --> 
	<link href="img/favicon.png" rel="icon">
	<link href="img/apple-touch-icon.png" rel="apple-touch-icon">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

	<!-- Bootstrap CSS File -->
	<!--  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

	<!-- Libraries CSS Files -->
	<link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="lib/animate/animate.min.css" rel="stylesheet">
	<link href="lib/venobox/venobox.css" rel="stylesheet">
	<link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

	<!-- Main Stylesheet File -->
	<link href="css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: TheEvent
    Theme URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>

<body>

  <!--==========================
    Header
    ============================-->
    <header id="header">
    	<div class="container">

    		<div id="logo" class="pull-left">
    			<!-- Uncomment below if you prefer to use a text logo -->
    			<!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
    			<a href="/" class="scrollto"><img src="img/logo.png" alt="" title="" width="200" ></a>
    		</div>

    		<nav id="nav-menu-container">
    			<ul class="nav-menu">
    				<li class="menu-active"><a href="/#intro">Inicio</a></li>
    				<li><a href="/#about">Campus</a></li>
    				<li><a href="/#staff">Staff</a></li>
    				<li><a href="/#schedule">Planificación</a></li>


    				<li><a href="/#gallery">Galería</a></li>
    				<li><a href="/#supporters">Patrocinadores</a></li>
    				<li><a href="/#colaboradores">Colaboradores</a></li>
    				<li><a href="/#contact">Contacto</a></li>
    				<li class="buy-tickets"><a href="/#buy-tickets">Inscripción</a></li>
    			</ul>
    		</nav><!-- #nav-menu-container -->
    	</div>
    </header><!-- #header -->

  <!--==========================
    Intro Section
    ============================-->
    <section id="intro">
    	<div class="intro-container wow fadeIn">
    		<h1 class="mb-4 pb-0">Waterpolo Campus<br><span>AB7</span></h1>
    		<p class="mb-4 pb-0">13-15 de agosto, Piscina Club Natación Las Palmas, Las Palmas de Gran Canaria</p>
    		<a href="https://www.youtube.com/watch?v=fGkspBVNQ6M" class="venobox play-btn mb-4" data-vbtype="video"
    		data-autoplay="true"></a>
    		<a href="#about" class="about-btn scrollto">El Campus</a>
    	</div>
    </section>

    <main id="main">

    <!--==========================
      About Section
      ============================-->
      <section id="campus">
      	<section id="about">
      		<div class="container">
      			<div class="row">
      				<div class="col-lg-6">
      					<h2>El Campus AB7</h2>
      					<p>Campus organizado y dirigido por el waterpolista internacional Alberto Barroso que cuenta con la colaboración de deportistas internacionales y entrenadores de gran prestigio.</p>
      				</div>
      				<div class="col-lg-3">
      					<h3>¿Dónde?</h3>
      					<p>Piscina Club Natación las Palmas, 
      						<br> Las Palmas de Gran Canaria</p>
      					</div>
      					<div class="col-lg-3">
      						<h3>¿Cuándo?</h3>
      						<p>13, 14, 15 de agosto de 2021</p>
      					</div>
      				</div>
      			</div>
      		</section>
      	</section>

    <!--==========================
      Speakers Section
      ============================-->
      <section id="staff">
      	<section id="speakers" class="wow fadeInUp">
      		<div class="container">
      			<div class="section-header">
      				<h2>Staff</h2>

      			</div>

      			<div class="row">
      				<div class="col-lg-4 col-md-6">
      					<div class="speaker" id="alberto_barroso">
      						<img src="img/speakers/1.jpg" alt="Speaker 1" class="img-fluid">
      						<div class="details">
      							<h3>Alberto Barroso</h3>
      							<p>Coordinador</p>
      							<div class="social">
      								<a href="https://twitter.com/albertobarroso7"><i class="fa fa-twitter"></i></a>
      								<a href="https://www.instagram.com/albertobarroso7/"><i class="fa fa-instagram"></i></a>

      							</div>
      						</div>
      					</div>
      				</div>
      				<div class="col-lg-4 col-md-6">
      					<div class="speaker" id="patri_herrera">
      						<img src="img/speakers/2.jpg" alt="Speaker 2" class="img-fluid">
      						<div class="details">
      							<h3>Patri Herrera</h3>
      							<p>Entrenadora de porteros</p>
      							<div class="social">
      								<a href="https://twitter.com/patriherrera1"><i class="fa fa-twitter"></i></a>
      								<a href="https://www.instagram.com/patriherrera1/"><i class="fa fa-instagram"></i></a>
      							</div>
      						</div>
      					</div>
      				</div>
      				<div class="col-lg-4 col-md-6">
      					<div class="speaker" id="fernando_carpena">
      						<img src="img/speakers/3.jpg" alt="Speaker 3" class="img-fluid">
      						<div class="details">
      							<h3>Fernando Carpena</h3>
      							<p>Preparador físico</p>
      							<div class="social">
      								<a href="https://twitter.com/carpenafer89"><i class="fa fa-twitter"></i></a>
      								<a href="https://www.instagram.com/fcarpena89/"><i class="fa fa-instagram"></i></a>
      							</div>
      						</div>
      					</div>
      				</div>
      				<div class="col-lg-4 col-md-6">
      					<div class="speaker" id="bea_ortiz">
      						<img src="img/speakers/4.jpg" alt="Speaker 4" class="img-fluid">
      						<div class="details">
      							<h3>Bea Ortiz</h3>
      							<p>Deportista invitada</p>
      							<div class="social">
      								<a href="https://twitter.com/bea_ortiz"><i class="fa fa-twitter"></i></a>
      								<a href="https://www.instagram.com/bea8ortiz"><i class="fa fa-instagram"></i></a>
      							</div>
      						</div>
      					</div>
      				</div>
      				<div class="col-lg-4 col-md-6">
      					<div class="speaker">
      						<img src="img/speakers/6.jpg" alt="Speaker 5" class="img-fluid">
      						<div class="details">
      							<h3><a href="speaker-details.html">Javier Bustos</a></h3>
      							<p>Deportista invitado</p>
      							<div class="social">
      								<a href="https://twitter.com/busti12"><i class="fa fa-twitter"></i></a>
      								<a href="https://www.instagram.com/busti12"><i class="fa fa-instagram"></i></a>
      							</div>
      						</div>
      					</div>
      				</div>
      				<div class="col-lg-4 col-md-6">
      					<div class="speaker">
      						<img src="img/speakers/5.jpg" alt="Speaker 6" class="img-fluid">
      						<div class="details">
      							<h3><a href="speaker-details.html">Arsenio</a></h3>
      							<p>Fotógrafo</p>
      							<div class="social">
      								<a href="https://twitter.com/arsenioWP"><i class="fa fa-twitter"></i></a>
      								<a href="https://www.instagram.com/arseniowaterpolo"><i class="fa fa-instagram"></i></a>
      								<a href="https://www.facebook.com/people/Arsenio-Waterpolo/100009444559403/"><i class="fa fa-facebook"></i></a>
      							</div>
      						</div>
      					</div>
      				</div>
      			</div>
      		</div>

      	</section>
      </section>

    <!--==========================
      Schedule Section
      ============================-->
      <section id="schedule" class="section-with-bg">
      	<div class="container wow fadeInUp">
      		<div class="section-header">
      			<h2>Planificación</h2>
      		</div>

      		<ul class="nav nav-tabs" role="tablist">
      			<li class="nav-item">
      				<a class="nav-link active" href="#day-1" role="tab" data-toggle="tab">Viernes 13</a>
      			</li>
      			<li class="nav-item">
      				<a class="nav-link" href="#day-2" role="tab" data-toggle="tab">Sábado 14</a>
      			</li>
      			<li class="nav-item">
      				<a class="nav-link" href="#day-3" role="tab" data-toggle="tab">Domingo 15</a>
      			</li>
      		</ul>


      		<div class="tab-content row justify-content-center">

      			<!-- Schdule Day 1 -->
      			<div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">

      				<div class="row schedule-item">
      					<div class="col-md-2"><time>09:30 - 12:30</time></div>
      					<div class="col-md-10">
      						<h4>Entrenamiento mañana</h4>
      						<!-- <p>Fugit voluptas iusto maiores temporibus autem numquam magnam.</p> -->
      					</div>
      				</div>

      				<div class="row schedule-item">
      					<div class="col-md-2"><time>16:00 - 19:00</time></div>
      					<div class="col-md-10">
      						
      						<h4>Entrenamiento tarde</h4>
      						<!-- <p>Fugit voluptas iusto maiores temporibus autem numquam magnam.</p> -->
      					</div>
      				</div>

      			</div>
      			<!-- End Schdule Day 1 -->

      			<!-- Schdule Day 2 -->
      			<div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-2">

      				<div class="row schedule-item">
      					<div class="col-md-2"><time>09:30 - 12:30</time></div>
      					<div class="col-md-10">
      						
      						<h4>Entrenamiento mañana</span></h4>
      						
      					</div>
      				</div>

      				<div class="row schedule-item">
      					<div class="col-md-2"><time>16:00 -19:00</time></div>
      					<div class="col-md-10">
      						
      						<h4>Entrenamiento tarde</h4>
      						
      					</div>
      				</div>

      			
      			</div>
      			<!-- End Schdule Day 2 -->

      			<!-- Schdule Day 3 -->
      			<div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-3">

      				<div class="row schedule-item">
      					<div class="col-md-2"><time>09:00 - 12:00</time></div>
      					<div class="col-md-10">
      						
      						<h4>Entrenamiento mañana</span></h4>
      						
      					</div>
      				</div>

      				<div class="row schedule-item">
      					<div class="col-md-2"><time>15:30 - 17:30</time></div>
      					<div class="col-md-10">
      						
      						<h4>Entrenamiento tarde</span></h4>
      						
      					</div>
      				</div>

      				

      			</div>
      			<!-- End Schdule Day 3 -->

      		</div>

      	</div>

      </section>

     <!--==========================
      Gallery Section
      ============================-->
      <section id="gallery" class="wow fadeInUp">

      	<div class="container">
      		<div class="section-header">
      			<h2>Galería</h2>

      		</div>
      	</div>

      	<div class="owl-carousel gallery-carousel">
      		<a href="img/gallery/1.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/gallery/1.jpg" alt=""></a>
      		<a href="img/gallery/2.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/gallery/2.jpg" alt=""></a>
      		<a href="img/gallery/3.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/gallery/3.jpg" alt=""></a>
      		<a href="img/gallery/5.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/gallery/5.jpg" alt=""></a>
      		<a href="img/gallery/6.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/gallery/6.jpg" alt=""></a>
      		<a href="img/gallery/7.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/gallery/7.jpg" alt=""></a>
      		<a href="img/gallery/8.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/gallery/8.jpg" alt=""></a>
      		<a href="img/gallery/9.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/gallery/9.jpg" alt=""></a>
      		<a href="img/gallery/10.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/gallery/10.jpg" alt=""></a>
      		<a href="img/gallery/11.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/gallery/11.jpg" alt=""></a>
      		<a href="img/gallery/12.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/gallery/12.jpg" alt=""></a>
      		<a href="img/gallery/13.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/gallery/13.jpg" alt=""></a>
      		<a href="img/gallery/15.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/gallery/14.jpg" alt=""></a>
      		<a href="img/gallery/16.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/gallery/16.jpg" alt=""></a>
      		<a href="img/gallery/17.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/gallery/17.jpg" alt=""></a>
      		<a href="img/gallery/18.jpg" class="venobox" data-gall="gallery-carousel"><img src="img/gallery/18.jpg" alt=""></a>
      	</div> 


      	<div class="more">
      		<div class="text-center"><a href="/more_gallery"><button type="submit">Más fotos</button></a></div>
      	</div>
      </form>

  </section>

   

 
    <!--==========================
     Inscription Section
     ============================-->


     <section id="buy-tickets" class="section-with-bg wow fadeInUp">
     	<div class="container">

     		
     		<div>

     			<a href="/docs/inscripcion.pdf" download>
     		              <p style="float: right;">
     		                
     		                
     		                    <img src="img/doc.png" height="40" width="45" border="1px">
     		                  
     		            
     		                  <figcaption style="text-align:right">documento <br> Inscripción</figcaption>
     		               

     		              </p></a>
     		            </div>
     		              <div class="section-header">
     		            <h2>Inscripción</h2>


     		</div>


     		<p>





     	
	     		<div class="row">
     			<div class="col-lg-4">
     				<div class="card mb-5 mb-lg-0">
     				
     				</div>
     			</div>
     			<div class="col-lg-4">
     				<div class="card mb-5 mb-lg-0">
     					<div class="card-body">
     						<h5 class="card-title text-muted text-uppercase text-center">¿Qué incluye la inscripición?</h5>
     						<h6 class="card-price text-center">90€</h6>
     						<hr>
     						<ul class="fa-ul">
     							<li><span class="fa-li"><i class="fa fa-check"></i></span> Welcome Pack personalizado</li>
     							<li><span class="fa-li"><i class="fa fa-check"></i></span>Masterclass</li>
     							<li><span class="fa-li"><i class="fa fa-check"></i></span>Talleres de técnica y táctica</li>
     							<li><span class="fa-li"><i class="fa fa-check"></i></span>Actividades al aire libre</li>
     							<li><span class="fa-li"><i class="fa fa-check"></i></span>Seguro accidente Mapfre</li>
     							<li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Comida</li>
     							<li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Alojamiento</li>
     						</ul>
     						<hr>
     						<div class="text-center">
     							<p>Para la inscripción enviar un e-mail a <a href="mailto:ab7camp@gmail.com">ab7camp@gmail.com</a> con copia a <a href="mailto:campusab7@cnlaspalmas.es">campusab7@cnlaspalmas.es</a> </p>
     								<p> Adjuntar el archivo inscripción que se puede descargar en la sección INSCRIPCIÓN</p>
     						</div>
     					</div>
     				</div>
     			</div>
     			<!-- Pro Tier -->
     			<div class="col-lg-4">
     				<div class="card">
     					
     		</div>

     	</div>
     	</div>
     		

     	

     
</section>

<!--==========================
  Pack Section
  ============================-->
  <section id="supporters" class="section-with-bg wow fadeInUp">

  	<div class="container">
  		<div class="section-header">
  			<h2>Pack bienvenida</h2>
  		</div>

  		<div class="row no-gutters supporters-wrap clearfix">

  			<div class="row">

  			<div class="col-lg-3 .col-6 .col-md-4">
  				<div class="supporter-logo">
  					<img src="img/pack/boyswimsuit.jpeg" class="img-fluid" alt="">
  				</div>
  			</div>

  			<div class="col-lg-3 .col-6 .col-md-4">
  				<div class="supporter-logo">
  					<img src="img/pack/girlswimsuit.jpeg" class="img-fluid" alt="">
  				</div>
  			</div>

  			<div class="col-lg-3 .col-6 .col-md-4">
  				<div class="supporter-logo">
  					<img src="img/pack/bag.jpeg" class="img-fluid" alt="">
  				</div>
  			</div>
  			
  			<div class="col-lg-3 .col-6 .col-md-4">
  				<div class="supporter-logo">
  					<img src="img/pack/cap.jpeg" class="img-fluid" alt="">
  				</div>
  			</div>
  			
  			
  			</div>




  		</div>

  	</div>

  </section>

<!--==========================
  Sponsors Section
  ============================-->
  <section id="supporters" class="section-with-bg wow fadeInUp">

  	<div class="container">
  		<div class="section-header">
  			<h2>Patrocinadores</h2>
  		</div>

  		<div class="row no-gutters supporters-wrap clearfix">

  			<div class="row">

  			<div class="col-lg-3 .col-6 .col-md-4">
  				<div class="supporter-logo">
  					<a href="https://www.iberiaexpress.com/"> <img src="img/supporters/1.png" class="img-fluid" alt=""> </a>
  				</div>
  			</div>

  			<div class="col-lg-3 .col-6 .col-md-4">
  				<div class="supporter-logo">
  					<a href="https://www.gruponagar.es/"><img src="img/supporters/2.png" class="img-fluid" alt=""></a>
  				</div>
  			</div>

  			<div class="col-lg-3 .col-6 .col-md-4">
  				<div class="supporter-logo">
  					<a href="https://www.mapfre.es/"><img src="img/supporters/3.png" class="img-fluid" alt=""></a>
  				</div>
  			</div>

  			
  			
  			<div class="col-lg-3 .col-6 .col-md-4">
  				<div class="supporter-logo">
  					<a href="https://www.wazpool.com/"><img src="img/supporters/4.png" class="img-fluid" alt=""></a>
  				</div>
  			</div>
  			
  			
  			</div>




  		</div>

  	</div>

  </section>


  <!--==========================
  Colaboradores Section
  ============================-->
  <section id="colaboradores" class="section-with-bg wow fadeInUp">

  	<div class="container">
  		<div class="section-header">
  			<h2>Colaboradores</h2>
  		</div>

  		<div class="row no-gutters supporters-wrap clearfix">

  			<div class="row">

  			

  			<div class="col-lg-6 c.col-6 .col-md-4">
  				<div class="supporter-logo">
  					<a href="https://www.cnlaspalmas.es/"><img src="img/supporters/5.png" class="img-fluid" alt=""></a>
  				</div>
  			</div>
  			
  
  			
  			<div class="col-lg-6 .col-6 .col-md-4">
  				<div class="supporter-logo">
  					<a><img src="img/supporters/6.png" class="img-fluid" alt=""></a>
  				</div>
  			</div>
  			</div>




  		</div>

  	</div>

  </section>

    <!--==========================
      Contact Section
      ============================-->
      <section id="contact" class="section-bg wow fadeInUp">

      	<div class="container">

      		<div class="section-header">
      			<h2>Contacta con nosotros</h2>

      		</div>


      		<div class="row contact-info">

      			<div class="col-md-4">
      				<div class="contact-address">
      					<i class="ion-ios-location-outline"></i>
      					<h3>Dirección</h3>
      					<address>Calle Isla de la Graciosa 9, 38400, Puerto de la Cruz, Santa Cruz de Tenerife, España</address>
      				</div>
      			</div>

      			<div class="col-md-4">
      				<div class="contact-phone">
      					<i class="ion-ios-telephone-outline"></i>
      					<h3>Número de teléfono</h3>
      					<p><a href="tel:+34657308808">+34 657308808</a></p>
      				</div>
      			</div>

      			<div class="col-md-4">
      				<div class="contact-email">
      					<i class="ion-ios-email-outline"></i>
      					<h3>Email</h3>
      					<p><a href="mailto:ab7camp@gmail.com">ab7camp@gmail.com</a></p>
      				</div>
      			</div>

      		</div>


      		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      		<script src="https://smtpjs.com/v3/smtp.js"></script>


        <!--Check the data in the contact 
            form has the correct values and
            send the okay message or not okay -->

            <script src="contactform/contactF.js"></script> 
            <script>

            var checkbox_form = document.getElementById("Checkform");
            if(!checkbox_form){

            }else{
            	$('form.contactForm').on('submit', (e) => {
            		e.preventDefault();
            	});;
            }
            
            </script>

        </div>
    </section><!-- #contact -->
</main>






  <!--==========================
    Footer
    ============================-->
    <footer id="footer">
    	<div class="footer-top">
    		<div class="container">
    			<div class="row">

    				<div class="col-lg-3 col-md-6 footer-info">
    					<img src="img/logo.png" alt="AB7">
    					<p>Desde 2019, AB7 Waterpolo Campus tiene como objetivo fomentar el waterpolo.</p>
    				</div>

    				<div class="col-lg-3 col-md-6 footer-links">
    					<h4>Enlaces de interés</h4>
    					<ul>
    						<li><i class="fa fa-angle-right"></i> <a href="#">Inicio</a></li>
    						<li><i class="fa fa-angle-right"></i> <a href="#about">Campus</a></li>
    						<li><i class="fa fa-angle-right"></i> <a href="/legal">Avisos legales</a></li>
    					</ul>
    				</div>



    				<div class="col-lg-3 col-md-6 footer-contact">
    					<h4>Contacto</h4>
    					<p>
    						Calle Isla de la Graciosa 9,<br>
    						38400, Puerto de la Cruz, <br> Santa Cruz de Tenerife,
    						España <br>
    						<strong>Teléfono: 657 308 808</strong> <br>
    						<strong>Email:</strong> ab7camp@gmail.com<br>
    					</p>

    					<div class="social-links">

    						<a href="https://www.instagram.com/ab7wpcampus/" class="instagram"><i class="fa fa-instagram"></i></a>

    					</div>

    				</div>

    			</div>
    		</div>
    	</div>

    	<div class="container">
    		<div class="copyright">
    			&copy; Copyright <strong>TheEvent</strong>. All Rights Reserved
    		</div>
    		<div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
      -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> and edited by <a href="https://www.instagram.com/racedron21">@racedron21 </a>  &#38 <a href="https://www.instagram.com/patriherrera1/"> @patriherrera1 </a>
  </div>
</div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

<!-- JavaScript Libraries -->
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/jquery/jquery-migrate.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/superfish/hoverIntent.js"></script>
<script src="lib/superfish/superfish.min.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/venobox/venobox.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Contact Form JavaScript File -->
<script src="contactform/inscription.js"></script>
<!-- <script src="contactform/contactform.js"></script> -->

<!-- Template Main Javascript File -->
<script src="js/main.js"></script>


</body>

</html>
