<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>WP_AB07</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons --> 
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/venobox/venobox.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: TheEvent
    Theme URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header" class="header-scrolled" >
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
        <a href="#intro" class="scrollto"><img src="img/logo.png" alt="" title="" width="200" ></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/">Inicio</a></li>
          <li><a href="/#about">Campus</a></li>
          <li><a href="/#speakers">Staff</a></li>
          <li><a href="/#schedule">Planificación</a></li>
          
          
          <li><a href="/#gallery">Galería</a></li>
          <li><a href="/#supporters">Sponsors</a></li>
          <li><a href="/#contact">Contacto</a></li>
          <li class="/#buy-tickets"><a href="#buy-tickets">Inscripción</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->


    <!--==========================
      Legal Section
    ============================-->
    <section id="legal" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
        <h2><br><br><br><br>Datos generales</h2>
      </div>
        <div class="section-header-legal">

         

          
          
          <p>
          De acuerdo con el artículo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico ponemos a su disposición los siguientes datos: 
          Asociación AB7 Waterpolo Campus está domiciliada en la calle C/ Dos de Maig 232, 6è 2ª esc. D – 08013 Barcelona, con CIF G65969602. Inscrita en la Secció 1ª del Registre d’Associacions de la Direcció General de Dret i d’Entitats Jurídiques, de la Generalitat de Catalunya. 
          <br>
          En la web wpba.herokuapp.com hay una serie de contenidos de carácter informativo sobre eventos, torneos y acciones de la asociación.
          <br> 

          Su principal objetivo es facilitar a los clientes y al público en general, la información relativa a la asociación, a los productos y servicios que se ofrecen. </p> 

          </div>

        
          <div class="section-header">
            <h2><br>Política de privacidad</h2>
          </div>
          <div class="section-header-legal">

                
          
          <p>
          En cumplimiento de lo dispuesto en la Ley Orgánica 15/1999, de 13 de Diciembre, de Protección de Datos de Carácter Personal (LOPD) se informa al usuario que todos los datos que nos proporcione serán incorporados a un fichero, creado y mantenido bajo la responsabilidad de Asociación AB7 Waterpolo Campus. 

          <br>
          Siempre se va a respetar la confidencialidad de sus datos personales que sólo serán utilizados con la finalidad de gestionar los servicios ofrecidos, atender a las solicitudes que nos plantee, realizar tareas administrativas, así como remitir información técnica, comercial o publicitaria por vía ordinaria o electrónica. 
          <br>

          Para ejercer sus derechos de oposición, rectificación o cancelación deberá escribirnos al siguiente correo ab7camp@gmail.como llámanos al XXXXX.  </p> 

          </div>


          <div class="section-header">
            <h2><br>Condiciones de uso</h2>
          </div>
          <div class="section-header-legal">

                
          
          <p>
          Las condiciones de acceso y uso del presente sitio web se rigen por la legalidad vigente y por el principio de buena fe comprometiéndose el usuario a realizar un buen uso de la web. No se permiten conductas que vayan contra la ley, los derechos o intereses de terceros. 
          Ser usuario de la web wpba.herokuapp.com implica que reconoce haber leído y aceptado las presentes condiciones y lo que las extienda la normativa legal aplicable en esta materia. Si por el motivo que fuere no está de acuerdo con estas condiciones no continúe usando esta web. 
          <br>
          Cualquier tipo de notificación y/o reclamación solamente será válida por notificación escrita y/o correo certificado.   </p> 
          </div>          
          
          <div class="section-header">
            <h2><br>Responsabilidades</h2>
          </div>
          <div class="section-header-legal">
                
          
          <p>
          Asociación AB7 Waterpolo Campus no se hace responsable de la información y contenidos almacenados en foros, redes sociales o cualquier otro medio que permita a terceros publicar contenidos de forma independiente en la página web del prestador. 

          <br>
          Sin embargo, teniendo en cuenta los art. 11 y 16 de la LSSI-CE, Asociación AB7 Waterpolo Campus se compromete a la retirada o en su caso bloqueo de aquellos contenidos que pudieran afectar o contravenir la legislación nacional o internacional, derechos de terceros o la moral y el orden público. 
          <br>

          Tampoco la empresa se responsabilizará de los daños y perjuicios que se produzcan por fallos o malas configuraciones del software instalado en el ordenador del internauta. Se excluye toda responsabilidad por alguna incidencia técnica o fallo que se produzca cuando el usuario se conecte a internet. Igualmente, no se garantiza la inexistencia de interrupciones o errores en el acceso al sitio web. 
          <br>
          Así mismo, Asociación AB7 Waterpolo Campus se reserva el derecho a actualizar, modificar o eliminar la información contenida en su página web, así como la configuración o presentación del mismo, en cualquier momento sin asumir alguna responsabilidad por ello.    </p> 
          </div> 

          <div class="section-header">
            <h2><br>Propiedad intelectual</h2>
          </div>
          <div class="section-header-legal">
                
          
          <p>
            Asociación AB7 Waterpolo Campus es titular de todos los derechos sobre el software de la publicación digital así como de los derechos de propiedad industrial e intelectual referidos a los contenidos que se incluyan, a excepción de los derechos sobre productos y servicios de carácter público que no son propiedad de esta empresa. 
            <br>
            Ningún material publicado en esta web podrá ser reproducido, copiado o publicado sin el consentimiento por escrito de Asociación AB7 Waterpolo Campus. 
            <br>

            Toda la información que se reciba en la web, como comentarios, sugerencias o ideas, se considerará cedida a Asociación AB7 Waterpolo Campus de manera gratuita. No debe enviarse información que NO pueda ser tratada de este modo. 
            <br>

            Todos los productos y servicios de estas páginas que NO son propiedad de Asociación AB7 Waterpolo Campus son marcas registradas de sus respectivos propietarios y son reconocidas como tales por nuestra empresa. Solamente aparecen en la web de Asociación AB7 Waterpolo Campus a efectos de promoción y de recopilación de información. Estos propietarios pueden solicitar la modificación o eliminación de la información que les pertenece.     </p> 
          </div>
          
          <div class="section-header">
            <h2><br>Ley aplicable y jurisdicción</h2>
          </div>
          <div class="section-header-legal">
                
          
          <p>
            Las presentes condiciones generales se rigen por la legislación española. Para cualquier litigio que pudiera surgir relacionado con el sitio web o la actividad que en él se desarrolla puede presentar una reclamación ante la Agencia de Protección de Datos (www.agpd.es)
          </p> 
          </div>

          <div class="section-header">
            <h2><br>Política de cookies</h2> 
          </div>
          <div class="section-header-legal">
                
          
          <p>
            Asociación AB7 Waterpolo Campus por su propia cuenta o la de un tercero contratado para prestación de servicios de medición, pueden utilizar cookies cuando el usuario navega por el sitio web. Las cookies son ficheros enviados al navegador por medio de un servicio web con la finalidad de registrar las actividades del usuario durante su tiempo de navegación. 
            Las cookies utilizadas se asocian únicamente con un usuario anónimo y su ordenador, y no proporcionan por sí mismas los datos personales del usuario. 
            <br>

            Mediante el uso de las cookies resulta posible que el servidor donde se encuentra la web reconozca el navegador web utilizado por el usuario con la finalidad de que la navegación sea más sencilla. Se utilizan también para medir la audiencia y parámetros del tráfico, controlar el proceso y número de entradas. 
            <br>

            El usuario tiene la posibilidad de configurar su navegador para ser avisado de la recepción de cookies y para impedir su instalación en su equipo. Por favor consulte las instrucciones y manuales de su navegador para ampliar esta información. 
            <br>
            Para utilizar el sitio web no es necesario que el usuario permita la instalación de las cookies enviadas al sitio web, o el tercero que actúe en su nombre, sin perjuicio de que sea necesario que el usuario inicie una sesión tal en cada uno de los servicios cuya prestación requiera el previo registro. 
            <br>
            En todo caso las cookies tienen un carácter temporal con la única finalidad de hacer más eficaz su transmisión ulterior. En ningún caso se utilizará cookies para recoger información de carácter personal. 
            <br>
            <br>
            <br>
            <br>
            <br>
          </p> 
          </div>


                   
        </div>

        
          
          
          
          
        

    </section>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <img src="img/logo.png" alt="AB7">
            <p>Desde 2019, AB7 Waterpolo Campus tiene como objetivo fomentar el waterpolo.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Enlaces de interés</h4>
            <ul>
              <li><i class="fa fa-angle-right"></i> <a href="/">Inicio</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="/#about">Campus</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="/legal">Avisos legales</a></li>
            </ul>
          </div>

          

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contacto</h4>
            <p>
              Av. de Benito Pérez Armas, 1 <br>
              38007 Santa Cruz de Tenerife<br>
              España <br>
              <strong>Teléfono:</strong> <br>
              <strong>Email:</strong> ab7camp@gmail.com<br>
            </p>

            <div class="social-links">
             
              
              <a href="https://www.instagram.com/ab7wpcampus/" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>TheEvent</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> and edited by <a href="https://www.instagram.com/racedron21">@racedron21 </a>  &#38 <a href="https://www.instagram.com/patriherrera1/"> @patriherrera1 </a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/venobox/venobox.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>
</body>

</html>
