<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>AB7wpcampus</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons --> 
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/venobox/venobox.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: TheEvent
    Theme URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
    ======================================================= -->
  </head>

  <body>

  <!--==========================
    Header
    ============================-->
    <header id="header" class="header-fixed" >
      <div class="container">

        <div id="logo" class="pull-left">
          <!-- Uncomment below if you prefer to use a text logo -->
          <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
          <a href="#intro" class="scrollto"><img src="img/logo.png" alt="" title="" width="200" ></a>
        </div>

        <nav id="nav-menu-container">
          <ul class="nav-menu">
            <li class="menu-active"><a href="/">Inicio</a></li>
            <li><a href="/#about">Campus</a></li>
            <li><a href="/#speakers">Staff</a></li>
            <li><a href="/#schedule">Planificación</a></li>


            <li><a href="/#gallery">Galería</a></li>
            <li><a href="/#supporters">Patrocinadores</a></li>
            <li><a href="/#colaboradores">Colaboradores</a></li>
            <li><a href="/#contact">Contacto</a></li>
            <li class="buy-tickets"><a href="/#buy-tickets">Inscripción</a></li>
          </ul>
        </nav><!-- #nav-menu-container -->
      </div>
    </header><!-- #header -->


    <!--==========================
      More Gallery Section
      ============================-->
      <section id="legal" class="wow fadeInUp">
        <div class="container">

          <div id="logo" class="pull-left">
            <!-- Uncomment below if you prefer to use a text logo -->
            <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
            <a href="#intro" class="scrollto"><img src="img/logo.png" alt="" title="" width="200" ></a>
          </div>

          <nav id="nav-menu-container">
            <ul class="nav-menu">
              <li class="menu-active"><a href="/">Inicio</a></li>
              <li><a href="/#about">Campus</a></li>
              <li><a href="/#speakers">Staff</a></li>
              <li><a href="/#schedule">Planificación</a></li>


              <li><a href="/#gallery">Galería</a></li>
              <li><a href="/#supporters">Sponsors</a></li>
              <li><a href="/#contact">Contacto</a></li>
              <li class="buy-tickets"><a href="/#buy-tickets">Inscripción</a></li>
            </ul>
          </nav><!-- #nav-menu-container -->
        </div>
      </header><!-- #header -->




    <!--==========================
      More Gallery Section
      ============================-->
      <section id="legal" class="wow fadeInUp">


        <div class="container">
          <div class="section-header" style="margin-bottom: 5px">
            <h2><br><br><br>Más fotos</h2>
          </div>
          <div class="section-header-legal">

          <section id="gallery-more">
            <div class="pages">
             <button type="submit" onclick="one()">1</button>
             <button type="submit" onclick="two()">2</button>
             <button type="submit" onclick="four()">4</button>
           </div>
         </section>


         <script>
              // Get the elements with class="column"
              var elements = document.getElementsByClassName("column");

              // Declare a "loop" variable
              var i;

              // Full-width images
              function one() {
                for (i = 0; i < elements.length; i++) {
                  elements[i].style.flex = "100%";
                }
              }

              // Two images side by side
              function two() {
                for (i = 0; i < elements.length; i++) {
                  elements[i].style.flex = "50%";
                }
              }

              // Four images side by side
              function four() {
                for (i = 0; i < elements.length; i++) {
                  elements[i].style.flex = "25%";
                }
              }
              </script>


            <div class="row">
            <div class="column">

              
              <img src="img/more-gallery/1.jpeg">
              <img src="img/more-gallery/2.jpeg">
              <img src="img/more-gallery/3.jpeg">
              <img src="img/more-gallery/4.jpeg">
              <img src="img/more-gallery/5.jpeg">
              <img src="img/more-gallery/6.jpeg">
              <img src="img/more-gallery/7.jpeg">
              <img src="img/more-gallery/8.jpeg">
              <img src="img/more-gallery/9.jpeg">
              <img src="img/more-gallery/10.jpeg">
              <img src="img/more-gallery/11.jpeg">
              <img src="img/more-gallery/12.jpeg">
              <img src="img/more-gallery/13.jpeg">
              <img src="img/more-gallery/14.jpeg">
              <img src="img/more-gallery/61.jpeg">
              <img src="img/more-gallery/62.jpeg">
              <img src="img/more-gallery/63.jpeg">
            </div>
            <div class="column">
             <img src="img/more-gallery/15.jpeg">
             <img src="img/more-gallery/16.jpeg">
             <img src="img/more-gallery/17.jpeg">
             <img src="img/more-gallery/18.jpeg">
             <img src="img/more-gallery/19.jpeg">
             <img src="img/more-gallery/20.jpeg">
             <img src="img/more-gallery/21.jpeg">
             <img src="img/more-gallery/22.jpeg">
             <img src="img/more-gallery/23.jpeg">
             <img src="img/more-gallery/24.jpeg">
             <img src="img/more-gallery/25.jpeg">
             <img src="img/more-gallery/26.jpeg">
             <img src="img/more-gallery/27.jpeg">
             <img src="img/more-gallery/28.jpeg">
             <img src="img/more-gallery/65.jpeg">
             <img src="img/more-gallery/66.jpeg">
           </div>
           <div class="column">
            <img src="img/more-gallery/29.jpeg">
            <img src="img/more-gallery/30.jpeg">
            <img src="img/more-gallery/31.jpeg">
            <img src="img/more-gallery/32.jpeg">
            <img src="img/more-gallery/33.jpeg">
            <img src="img/more-gallery/34.jpeg">
            <img src="img/more-gallery/35.jpeg">
            <img src="img/more-gallery/36.jpeg">
            <img src="img/more-gallery/37.jpeg">
            <img src="img/more-gallery/38.jpeg">
            <img src="img/more-gallery/39.jpeg">
            <img src="img/more-gallery/40.jpg">
            <img src="img/more-gallery/41.jpeg">
            <img src="img/more-gallery/42.jpeg">
            <img src="img/more-gallery/69.jpeg">
            <img src="img/more-gallery/70.jpeg">
            <img src="img/more-gallery/71.jpeg">
            <img src="img/more-gallery/72.jpeg">
            <img src="img/more-gallery/67.jpeg">
            <img src="img/more-gallery/68.jpeg">
          </div>
          <div class="column">
            <img src="img/more-gallery/43.jpeg">
            <img src="img/more-gallery/44.jpeg">
            <img src="img/more-gallery/45.jpeg">
            <img src="img/more-gallery/46.jpeg">
            <img src="img/more-gallery/47.jpeg">
            <img src="img/more-gallery/48.jpeg">
            <img src="img/more-gallery/49.jpeg">
            <img src="img/more-gallery/50.jpeg">
            <img src="img/more-gallery/51.jpeg">
            <img src="img/more-gallery/52.jpeg">
            <img src="img/more-gallery/53.jpeg">
            <img src="img/more-gallery/54.jpeg">
            <img src="img/more-gallery/55.jpeg">
            <img src="img/more-gallery/56.jpeg">
            <img src="img/more-gallery/57.jpeg">
            <img src="img/more-gallery/58.jpeg">
            <img src="img/more-gallery/59.jpeg">
            <img src="img/more-gallery/60.jpeg">
            <img src="img/more-gallery/73.jpeg">
            <img src="img/more-gallery/64.jpeg">

          </div>
        </div>
      </div>
    </div>

</section>

  <!--==========================
    Footer
    ============================-->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">

            <div class="col-lg-3 col-md-6 footer-info">
              <img src="img/logo.png" alt="AB7">
              <p>Desde 2019, AB7 Waterpolo Campus tiene como objetivo fomentar el waterpolo.</p>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Enlaces de interés</h4>
              <ul>
                <li><i class="fa fa-angle-right"></i> <a href="/">Inicio</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="/#about">Campus</a></li>
                <li><i class="fa fa-angle-right"></i> <a href="/legal">Avisos legales</a></li>
              </ul>
            </div>



            <div class="col-lg-3 col-md-6 footer-contact">
              <h4>Contacto</h4>
              <p>
                Calle Isla de la Graciosa 9,<br>
                38400, Puerto de la Cruz, <br> Santa Cruz de Tenerife,
                España <br>
                <strong>Teléfono:657 308 808</strong> <br>
                <strong>Email:</strong> ab7camp@gmail.com<br>
              </p>

              <div class="social-links">

                <a href="https://www.instagram.com/ab7wpcampus/" class="instagram"><i class="fa fa-instagram"></i></a>

              </div>

            </div>

          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong>TheEvent</strong>. All Rights Reserved
        </div>
        <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> and edited by <a href="https://www.instagram.com/racedron21">@racedron21 </a>  &#38 <a href="https://www.instagram.com/patriherrera1/"> @patriherrera1 </a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/venobox/venobox.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>

  
  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>
  <!-- Template Main Javascript File -->
  <script src="js/colums.js"></script>
</body>

</html>
